.accordion__item {
    border: 2px solid #4883E8;
    margin-bottom: 10px;
}

.accordion__item.active 
.accordion__header {
    border-bottom: 2px solid #4883E8;
}

.accordion__item.active
.accordion__text {
    display: block;
}

.accordion__item.active
.accordion__header:after {
    transform: rotate(-45deg);
    top: 25px;
}

.accordion__header {
    border-bottom: 1px solid transparent;

    padding: 20px 60px;
    position: relative;

    cursor: pointer;
}

.accordion__header:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;

    border-top: 2px solid #0921F5;
    border-right: 2px solid #0921F5;

    position: absolute;
    top: 15px;
    right: 20px;

    transform: rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 25%;
    left: 15px;
}

.accordion__title {
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
}

.accordion__text {
    color: #999;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;

    padding: 15px 30px;
    display: none;
}
